layout @media all {
  .sfltr {
    display: flex;
    flex-wrap: wrap;
  }
  .sfltr__item {
    max-width: 20rem;
    min-width: 14rem;
  }
  .sfltr__fields-block {
    @apply flex flex-wrap gap-4;
  }

  .sfltr__button-block {
    display: flex;
    flex-direction: row;
    width: 16.66666667%;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
  }
}
@media (max-width: 1279px) {
  .sfltr__fields-block,
  .sfltr__button-block {
    width: 100%;
  }
}

@media all {
  .sfltr__button {
    height: 35px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #fff;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    border-radius: 4px;
    text-align: center;
    max-width: 100%;
    transition: 0.15s ease;
    cursor: pointer;
    margin-bottom: 15px;
  }
  .sfltr__button._submit {
    background-color: var(--primary-color, #ce3a12);
    border: 1px solid var(--primary-color, #ce3a12);
  }
  .sfltr__button:hover {
    background-color: #fff;
    color: var(--primary-color, #ce3a12);
  }

  .sfltr__button-label {
    flex: 1;
  }
  .sfltr__button__additional-label {
    color: var(--primary-color, #ce3a12);
    min-width: 26px;
    padding: 0 5px;
    border-radius: 3px;
    font-size: 16px;
    height: 25px;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: -6px 0 -6px 3px;
  }
  .sfltr__button:hover .sfltr__button__additional-label {
    background-color: var(--primary-color, #ce3a12);
    color: #fff;
  }

  .sfltr:not(._open) .filter-more-link__close {
    display: none;
  }
  .sfltr._open .filter-more-link__open {
    display: none;
  }
  .sfltr:not(._open) .sfltr-more {
    display: none;
  }

  .button.filter-count {
    padding: 0 0 0 10px;
    line-height: 32px;
    white-space: nowrap;
    position: relative;
  }
  .button.filter-count .count {
    position: absolute;
    right: 0;
    height: 26px;
    line-height: 26px;
    min-width: 24px;
    padding: 0 5px;
    margin: 3px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
    transition: all 0.3s;
  }
  .button.filter-count:hover .count {
    color: #fff;
  }
  .button.filter-count span.t {
    font-size: 16px;
    vertical-align: top;
  }
}
@media (max-width: 1279px) {
  .sfltr-wrapper {
    margin-bottom: 20px;
  }
  .sfltr__button-block {
    flex-direction: row;
    align-items: center;
    margin: 15px -10px 0;
    justify-content: center;
  }
  .sfltr__button {
    margin: 0 10px 0;
  }
  .filter-more-link {
    margin: 0 10px;
  }
  .sfltr__button-block > .btn {
    width: 150px;
  }
}
@media (max-width: 767px) {
  .sfltr__button {
    width: auto;
    margin: 0 8px;
  }
  .sfltr__button-block {
    margin-left: -4px;
    margin-right: -4px;
    justify-content: space-between;
  }
  .filter-more-link {
    margin: 0 4px;
  }
}
@media (max-width: 479px) {
  .sfltr__button-block {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
  .sfltr__button {
    margin-bottom: 10px;
  }
}

@media all {
  .sfltr-wrapper {
  }
  .sfltr-field {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
  }
  .sfltr-field._open {
    overflow: visible;
  }
}

@media all {
  .sfltr-label {
    padding: 0 65px 0 10px;
    line-height: 33px;
    height: 35px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border: 1px solid #c5b99f;
    position: relative;
    background-color: #f9f8f5;
    cursor: pointer;
  }
  .sfltr-label:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 8px;
    bottom: 0;
    margin: auto;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: #89826c;
  }
  .sfltr-label_close {
    font-size: 12px;
    position: absolute;
    right: 35px;
    width: 29px;
    height: 29px;
    background-color: #ebe9e1;
    top: 2px;
    text-align: center;
    border: 1px solid #c5b99f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #89826c;
  }
  .sfltr-field:not(.has-value) .sfltr-label_close {
    display: none;
  }
  .sfltr-label .currency-icon {
    display: inline-block;
    line-height: 1;
  }
}

@media all {
  .sfltr-field:not(._open) .sfltr-values {
    visibility: hidden;
  }

  .sfltr-values {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 14px;
    z-index: 10;
    padding: 15px;
    background-color: white;
    border: 1px solid #c5b99f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }
  .sfltr-values:before,
  .sfltr-values:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    bottom: 100%;
  }
  .sfltr-values:before {
    border: 9px solid transparent;
    border-bottom-color: #c5b99f;
  }
  .sfltr-values:after {
    border: 7px solid transparent;
    border-bottom-color: white;
  }

  .sfltr-values .disabled {
    opacity: 0.5;
  }
  .sfltr-values label {
    cursor: pointer;
  }
  .sfltr-values .no-clicked {
    cursor: default;
  }
}

@media all {
  .sf-duplicate {
    background-color: #f9f8f4;
    padding: 12px;
    margin-bottom: 20px;
  }
  .sf-duplicate__property-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .sf-duplicate__property-item {
    display: flex;
    align-items: flex-start;
  }
  .sf-duplicate__property-name {
    font-weight: 600;
    margin-right: 10px;
  }
  .sf-duplicate__value-list {
    display: flex;
    align-items: center;
    margin: -2px -5px;
    flex-wrap: wrap;
  }
  .sf-duplicate__value-item {
    display: flex;
    align-items: center;
    margin: 2px 5px;
  }
  .sf-duplicate__value-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  .sf-duplicate__value-name {
    margin-left: 4px;
  }
}

@media all {
  .filter-checkmark {
    font-size: 16px;
    background-color: #fff;
    height: 1em;
    position: relative;
    width: 1em;
    color: #c5b99f;
    border-radius: 0.125em;
    flex-shrink: 0;
    display: inline-flex;
    cursor: pointer;
  }
  .filter-checkmark:before,
  .filter-checkmark:after {
    content: "";
    display: block;
    position: absolute;
  }
  .filter-checkmark:before {
    border: 1px solid currentColor;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity 0.3s ease;
    width: 100%;
  }
  .filter-checkmark:after {
    bottom: 4px;
    height: 11px;
    left: 6px;
    opacity: 0;
    transform: rotate(45deg);
    transition-delay: 0.1s;
    transition: opacity 0.3s ease;
    width: 6px;
  }
  input:checked + .filter-checkmark:before {
    background-color: currentColor;
  }
  input:checked + .filter-checkmark:after {
    border-bottom: 0.125em solid #fff;
    border-right: 0.125em solid #fff;
    opacity: 1;
  }
}
